:root {
  --chocolate: #ffffff;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", serif;
  min-height: 1400px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg1.jpg);
  z-index: -1;
  filter: saturate();
  background-position: center;
  background-size: cover;
}

.hero {
  min-height: 100vh;
  position: relative;
}

.hero h1,
.hero h4,
.hero p,
.hero h2 {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  color: var(--chocolate);
}

.hero h2 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  color: var(--chocolate);
}

.hero h4 {
  font-size: 1.6rem;
  color: var(--chocolate);
}

.hero p {
  font-size: 1.4rem;
  color: var(--chocolate);
}

.hero a {
  color: rgb(238, 12, 170);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: rgb(146, 59, 74);
  color: rgb(236, 35, 176);
}

.mynavbar {
  background-color: rgba(252, 241, 241, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.home {
  background-image: url(img/bg2.jpg);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 9rem;
  padding-bottom: 5rem;
}

.home h2 {
  color: rgb(41, 41, 41);
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: rgb(41, 41, 41);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 1.8rem;
}

.home p {
  font-size: 1.1rem;
  color: #1f1e1e;
}

.home .couple {
  margin-top: 30px;
}

.home .couple h3 {
  font-family: "Sacramento";
  font-size: 2.4rem;
  color: rgb(59, 59, 59);
}

.home .couple img {
  width: 100%;
  padding-top: 2rem;
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info h2 {
  color: var(--chocolate);
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

/* mediaquery */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
  .sticky-top {
    overflow: hidden;
  }
  body {
    font-size: 1.2rem;
    font-family: "Work Sans", serif;
    min-height: 1000px;
    min-width: 50px;
  }
}
/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }
  body {
    font-size: 1.2rem;
    font-family: "Work Sans", serif;
    min-height: 800px;
    min-width: 100%;
  }
}
